

.ftr-top{
	background: #111011;
	padding: 95px 0 85px;
}

.ftr-logo{
	float: left;
	width: 17.1428%;
	padding-right: 15px;
}
.ftr-col-1{
	float: left;
	width: 15%;
	padding-right: 15px;
}
.ftr-col-2{
	float: left;
	width: 22.8571%;
	padding-right: 15px;
}
.ftr-col-3{
	float: left;
	width:  25.3571%;
	padding-right: 15px;
}
.ftr-col-4{
	float: left;
	width:  19.6428%;
	padding-right: 15px;
}

.ftr-top-menu-title{
	display: block;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Arial-BoldMT';
}
.ftr-top-menu-col ul li{
	padding-bottom: 25px;
}
.ftr-top-menu-col ul li a{
	font-size: 13px;
	color: #A0A0A0;
	text-transform: uppercase;
	line-height: 1;
	font-family: 'arial-regular';
}
.ftr-top-menu-col ul li a:hover{
	color: #fff;
}

.ftr-address{
	margin-bottom: 20px;
}
.ftr-address a{
	font-size: 13px;
	color: #A0A0A0;
	text-transform: uppercase;
	line-height: 24px;
	font-family: 'arial-regular';
}

.ftr-phone{
	margin-bottom: 30px;
}
.ftr-phone a,
.ftr-mail a{
	font-size: 13px;
	color: #A0A0A0;
	text-transform: uppercase;
	line-height: 24px;
	font-family: 'arial-regular';
}
.ftr-address a:hover,
.ftr-phone a:hover,
.ftr-mail a:hover{
	color: #fff;
}



.ftr-inputfield{
	width: 100%;
	margin-bottom: 10px;
}
.ftr-inputfield input{
	width: 100%;
}
.ftr-inputfield input[type=text]{
	height: 48px;
	padding-left: 20px;
	font-size: 12px;
	color: #141414;
	background: #F9F9F9;
	border: 1px solid #F9F9F9;
	font-weight: 400;
}
.ftr-inputfield input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #141414;
    opacity: 1;
}
.ftr-inputfield input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #141414;
    opacity: 1;
}
.ftr-inputfield input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #141414;
    opacity: 1;
}
.ftr-inputfield input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #141414;
    opacity: 1;
}



.ftr-inputfield input[type=text]:focus{
	border-color: #3B9ABB;
}

.ftr-inputfield p{
	font-size: 11px;
	line-height: 1.6;
	color: #fff;
	font-weight: 400;
}
.ftr-inputfield p a{
	color: #fff;
	text-decoration: underline;
	text-decoration-color: #fff;
}

.cnt-btn input[type=submit]{
	width: 100%;
	height: 48px;
	background: #3B9ABB;
	border: 1px solid #3B9ABB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Arial-BoldMT';
	cursor: pointer;
}
.cnt-btn input[type=submit]:hover{
	background: #35b1de;
	border-color: #35b1de;
}

.ftr-inputfield.cc-has-error input{
	border: 1px solid #D9534F;
	color: #D9534F!important;
}
.ftr-inputfield.cc-has-error input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #D9534F!important;
    opacity: 1;
}
.ftr-inputfield.cc-has-error input::-moz-placeholder { /* Firefox 19+ */
    color: #D9534F!important;
    opacity: 1;
}
.ftr-inputfield.cc-has-error input:-ms-input-placeholder { /* IE 10+ */
    color: #D9534F!important;
    opacity: 1;
}
.ftr-inputfield.cc-has-error input:-moz-placeholder { /* Firefox 18- */
    color: #D9534F!important;
    opacity: 1;
}

.ftr-inputfield-error{
	padding: 2px;
	background: #fff;
	position: relative;
}
.ftr-inputfield-error label.ftr-close-icon{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	font-size: 12px;
	color: #D9534F;
}

.ftr-socials-media{
	padding-top: 20px;
}

.ftr-socials-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 8px;
	padding-right: 8px;
}
.ftr-socials-media ul li:first-child{
	padding-left: 25px;
}
.ftr-socials-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	font-size: 18px;
	line-height: 1;
}
.ftr-socials-media ul li a:hover{
	color: #3B9ABB;
}


.ftr-btm{
	padding: 55px 0;
}
.ftr-btm-innr{
	display: flex;
	align-items: center;
}
.ftr-btm-menu{
	margin-right: auto;
	margin-left: auto;
}

.ftr-copywrite p{
	margin-bottom: 0;
	font-size: 14px;
	color: #858B8E;
	line-height: 1;
	font-family: 'arial-regular';
}

.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	content: "";
	position: absolute;
	top: 60%;
	left: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	height: 1px;
	width: 4px;
	background: #858B8E;
}
.ftr-btm-menu ul li:first-child:after{
	content: none;
}
.ftr-btm-menu ul li a,
.ftr-btm-designby a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #858B8E;
	line-height: 1;
	font-family: 'arial-regular';
}
.ftr-btm-menu ul li a:hover,
.ftr-btm-designby a:hover{
	color: #3B9ABB;
}